.opensource {
  overflow-x: hidden;

  &__main {
    @include breakpoints-up(medium) {
      display: flex;
      align-items: center;
      margin-top: 15rem;
    }
  }

  &__img {
    margin: 10rem auto;
    max-width: 30rem;

    @include breakpoints-up(medium) {
      max-width: none;
      flex: 1;
    }

    img {
      transform: scale(1.5);

      @include breakpoints-up(medium) {
        position: relative;
        top: -2rem;
        left: -31rem;
        transform: scale(1.7);
      }
    }
  }

  &__content {
    @include breakpoints-up(medium) {
      flex: 1;
    }
  }

  &__title {
    text-align: center;
    font-size: 2.8rem;

    @include breakpoints-up(medium) {
      text-align: left;
    }
  }

  &__details {
    text-align: center;
    font-weight: 300;
    margin: 2rem 0 4rem;

    @include breakpoints-up(medium) {
      text-align: left;
    }
  }
}
