/* Primary */
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
/* Neutral */
$white: hsl(0, 0%, 100%);
$lightWhite: hsla(0,0%,100%,.8);
$greyishBlue: hsl(240, 2%, 79%);
$veryDarkGreyishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
/* CTA Gradient */
$veryLightRedMob: hsl(13, 100%, 72%);
$lightRedMob: hsl(353, 100%, 62%);
/* Body Gradient */
$veryDarkGrayBlue: hsl(237, 17%, 21%);
$veryDarkDesatBlue: hsl(237, 23%, 32%);
$lightDesatBlue: hsla(237, 23%, 32%, .8);

/* Font Family */
$fontPrimary: 'Overpass', sans-serif;
$fontSecondary: 'Ubuntu', sans-serif;
